.button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all  0.2s ease-in-out;
    border: 2px solid transparent;
    width: 100%;
    
    
    
}

.button:hover{ 
    border: 2px solid #000000;
}

.button--large{
    border-radius: 4px;
    color: #ffffff;
    font-family: inriaSansBold;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #2296AF;
    padding: 1.3125rem 0;
    
}
.button--small{ 
    font-family: inter;
    font-weight: 400;
    color: #1C1C1C;
    background-color: #BEBEBE;
    border-radius: 10px;
}
