.LabelGroupList{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
}
.LabelGroupList h2{
    font-size: 1.2rem;
    text-transform: capitalize;
}
.GroupList__container{
    border-radius: 5px;

    padding: 1rem;
    box-shadow: 0.1rem 0.2rem 0.6rem #afafaf;
}
.GroupList__list{
    border-radius: 5px;
    min-height: 2rem;
}