

.appLogo{ 
    color: #000;
    margin: 1rem;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #221344;
    letter-spacing: -1.68px;
}