.price{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-weight: bolder;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
 

}
.price--old{
    
}
.price__currency{
    font-size: 1.3rem;
}
.value{
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    align-items: start;

    overflow: hidden;
    
}

.value__integer{
    display: block;
    line-height: 1.2;
    font-size: 2rem;
    

}

.value__decimal, .value__delimiter{
    display: block;
    font-size: 1.3rem;
}