.fileSelector{ 
    box-sizing: border-box;
    display: flex;
    gap: 15px;
    width: 100%;

}
.container__fileSelector{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
    width: 90%;
    max-width: 90%;
    border: 1px solid #333;
    box-sizing: border-box;
    align-items: flex-start;
    white-space: nowrap;
    flex-wrap: wrap;
    border-radius: 7px;
    flex-direction: row;
    font-family: inter;
    font-size: 0.8rem;
}
.fileSelector__containerInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.fileSelector__title{
    margin: 5px;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: capitalize;
}
#selectorFile{ 
    display: none;
}
.inputLabel{ 
    display: flex;
    height: 1.2rem;
    padding: 2px 1rem;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #D5D5D5;
    border: 2px solid transparent;
    border-radius: 1rem;
}


.inputLabel:hover{
    border: 2px solid black;
}

