.automaticPage{
    width: 100%;
}
.automaticPage__Panel{ 
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    
    width:100%;
    gap: 20px;
    
}
.automaticPage__notePanel{
    
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 20px;
}

.automaticPage__results{
    width: 100%;

    box-sizing: border-box;
    padding: 2rem 1rem;
    border: 1px solid #333;
    display: flex;
    gap: 20px;
    flex-direction: column;
}