.automaticPage{
    width: 100%;
}
.automaticPage__Panel{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width:100%;
    gap: 5px;
    margin-bottom: 5rem;
    
}
.automaticPage__notePanel{
    
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 10px;
}

.automaticPage__results{
    width: 100%;

    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

@media screen and (min-width: 300px) {

} 
    
