.systemInput__container{
    display: flex;
    position: relative;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 3.4rem;
    max-width: 100%;
    background-color: #EEEEEE;
    box-sizing: border-box;
    border-radius: 6px;
}


.systemInput__label{
    display: block;
    position: absolute;
    top:6px;
    left: 8px;
    font-family: baloo;
    font-size: 0.81rem;
    z-index: 999;
    color: #222;
}
.systemInput__value{
    position: absolute;
    background-color: inherit;
    font-family: k2d;
    right:8px;
    bottom: 8px;
    max-width: calc(100% - 10px);
    display: inline;
    text-align: end;
    border: none;
}