.saleList__container{ 
    width: 100%;
    height: 100%;
}


.saleList__list{ 
 display: flex;
 flex-direction: column;
 gap: 10px;
 padding: 0;
}

.saleList__item{
    background-color: #EAE1E1;
    border:1px solid #CEC6C6;
    display: grid;
    padding: 1rem 0.7rem;
    grid-template-columns: 2fr 2.3fr 1fr 3fr;
    border-radius: 5px;

    width: 100%;
    gap: 0.5rem;
}
